/Clients/nbproject/private/
/Clients/Clients-war/nbproject/private/
/Clients/Clients-ejb/nbproject/private/
/Cadet/nbproject/private/
/Cadet/Cadet-war/nbproject/private/
/Cadet/Cadet-ejb/nbproject/private/
/Cadet/Cadet-ejb/build/
/Cadet/Cadet-ejb/dist/
/Cadet/Cadet-war/build/
/Cadet/dist/
/Cadet/build/
/Cadet/Cadet-war/dist/
/Clients/Clients-ejb/build/
/Clients/Clients-war/build/
/Clients/Clients-ejb/dist/
/Clients/build/
/Clients/Clients-war/dist/